body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:grey;
    padding: 15px 0  0 45px;
    font-size: 2.5em;
}
h4{
    padding:0 0 20px 40px;
}

#main{
    background-color: White;
    Width: 600px;
    height:auto;
    align-items: center;
    border-radius: 20px;
    margin-left: 30%;
}
#form{
    padding:10px 20px 0 140px;
}
button{
    margin:20px 20px 20px 10px;
}
input{
    margin-left: 70px;
}
select{
    margin-left: 40px;
}
#rate{
    margin-left: 35px;
}
.parameters{
    padding:10px;

}
#result{
    margin-left: 10px;
}
.highlight{
background-color:yellow;
}
